/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$dark-on-light: #222;
$light-on-dark: #ecf0f1;
$background:#2980b9;
$button-background:#27ae60;
$secondary-color:$dark-on-light;
$secondary-background:#ddd;
$disabled-background:#dcdcdc;
$disabled-color:darken($disabled-background, 10%);

@mixin buttonStates($background-color) {
    background-color:$background-color;
    border-right-color: darken($background-color, 5%);
    border-bottom-color: darken($background-color, 5%);
    &:hover {
        background-color:lighten($background-color, 5%);
    }
    &:active {
        background-color:darken($background-color,5%);
    }
}

@mixin buttonBorders {
    border-width:2px;
    border-style:solid;
    border-radius:5px;
    border-top:none;
    border-left: none;
}

@mixin buttonSetBorders {
    border-right-width:2px;
    border-bottom-width:2px;
    border-style:solid;
    &:first-of-type {
        border-radius:5px 5px 0 0;
    }
    &:last-of-type {
        border-radius:0 0 5px 5px;
    }
}
@mixin inlineButtonSetBorders {
    @include buttonSetBorders;
    &:first-of-type {
        border-radius:5px 0 0 5px;
    }
    &:last-of-type {
        border-radius: 0 5px 5px 0;
    }
}
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

input, textarea, keygen, select, button { // wtf user agent?
    font-family:'Roboto', sans-serif;
    font-size:1em;
}

body {
    font-family:'Roboto', sans-serif;
    font-size:120%;
    line-height:1.5;
    color:$dark-on-light;
}

h1, h2, h3, h4 {
    font-family:'Roboto Slab', serif;
    font-weight:300;
}

h1 {
    font-size:3em;
}

h2 {
    font-size:2em;
}

h3 {
    font-size:1.5em;
}

.button {
    height:2rem;

    padding-left:1rem;
    padding-right:1rem;

    @include buttonStates($button-background);
    @include buttonBorders;

    color:$light-on-dark;

    &.xl {
        height:3rem;
    }
    &.secondary {
        @include buttonStates($secondary-background);
        color:$secondary-color;
    }
    &.disabled {
        @include buttonStates($disabled-background);
        color:$disabled-color;
    }
}

.button-set {
    color:$light-on-dark;
    font-size:.75em;
    text-align:center;
    @include clearfix;
    li {
        @include buttonStates($button-background);
        @include buttonSetBorders;
        padding:.6rem;
        &:not(:last-of-type){
            border-bottom:1px solid darken($button-background, 10%);
        }
        &.secondary{
            @include buttonStates($secondary-background);
            color:$secondary-color;
        }
    }
    &.inline li {
        float:left;
        @include inlineButtonSetBorders;
    }
}
.tournament-name {
    font-size:1.5em;

    display:inline-block;
}
.tournament{
    position:relative;

    &:not(:first-of-type) {
        border-top:1px solid lighten($background, 45%);
    }
    &:hover {
        background-color:lighten($background,40%);
    }
}

.tournament-controls {
    position:absolute;
    right:0;
    top:0.3rem;
}

.tournament-game {
    color:#7f8c8d;
}
